<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="font-sans antialiased" style="background-color: #0F172A;">
    {% include 'navbar.html' %}

    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <section>
                <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
                <div class="space-y-4 pb-5">
                    <a href="#">
                        <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">Title</h3>
                            <p>Generated Blogs</p>
                        </div>
                    </a>
                </div>

                <div class="space-y-4">
                    <a href="#">
                        <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">Title</h3>
                            <p>Generated Blogs</p>
                        </div>
                    </a>
                </div>
            </section>

        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>