<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="font-sans antialiased" style="background-color: #0F172A;">
    {% include 'navbar.html' %}

    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

            <section>
                <h2 class="text-xl mb-4 font-semibold">Blog Post Details</h2>
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">Blog Title</h3>
                    <p class="text-gray-700">Blog details content</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg font-semibold">Youtube Title</h4>
                    <p class="text-gray-700">YouTube title</p>
                    <h4 class="text-lg font-semibold mt-4">Youtube Link</h4>
                    <a href="#" class="text-blue-600 hover:underline">source link</a>
                </div>
            </section>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>