<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="font-sans antialiased" style="background-color: #0F172A;">
    {% include 'navbar.html' %}

    <div class="flex items-center justify-center mt-20">
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">

            <!-- Login form -->
            <form class="space-y-4" action="" method="POST">
            {% csrf_token %}
                <div align="center" style="color: red;">
                    {% if error_message %}
                    <h2>
                        {{error_message}}
                    </h2>
                    {% endif %}
                </div>

                <h2 class="text-xl font-semibold">Signup</h2>
                
                <input type="text" id="username" name="username" placeholder="Enter your username..." class="w-full p-2 border rounded">
                

                
                <input type="email" id="email" name="email" placeholder="Enter your email..." class="w-full p-2 border rounded" required>
                

              
                <input type="password" id="pass1" name="pass1" placeholder="Enter your password..." class="w-full p-2 border rounded" required>
                

              
                <input type="password" id="pass2" name="pass2" placeholder="Repeat your password..." class="w-full p-2 border rounded" required>
               
                <button type="submit" class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700">Signup</button>
            </form>

        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>